.App {
  text-align: center;
  margin-bottom: 45px;
  position: relative;
  top: 70px;
  left: 0;
  align-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#page-error {
  margin-top: 15px;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .item {
    width: 32%;
    min-width: 32%;
  }
}

@media only screen and (max-width: 920px) {
  .item {
    width: 50%;
    min-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .item {
    width: 80%;
    min-width: 80%;
  }
}

.item:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.headline:visited {
  color:black;
}

.nav-link:visited {
  color:black;
}

button:hover {
  cursor: pointer;
}

.background-image {
  background-image: url("https://i.ytimg.com/vi/ygPqPhHRMZo/hqdefault.jpg?custom=true&w=168&h=94&stc=true&jpg444=true&jpgq=90&sp=68&sigh=XY96H2M8MrkI6MIlWYTYkfObMLY");
  height: 595px;
  margin: -10px;
  width: 102vw;
  z-index: -100;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: -29%;
  top: -5%;
  -webkit-filter: blur(8px);
}