.modal-background {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    box-sizing: border-box;
    border-radius: 6px;
    background: white;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2rem;
    padding-left: 2rem; 
    padding-top: 1rem;
    padding-bottom: 3rem;
    border: 2px solid rgb(100, 65, 165);
  }